.startbtn-content {
    bottom: 45px;
    left: 10px;
    display: block;
    position: fixed;
    border: 10px;
    border-color: black;
    background-color: gray;
    padding-left: 15px;
    padding-right: 15px;
}