body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #222;
  background-image: url("img/ac7d3e93e09127ac5f17f8dbb47774d3.jpg");
  background-repeat: no-repeat;  
  background-size: cover; 
  font-family: sans-serif;
  overflow: hidden;
}

.desktop {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  margin: 10px;
  cursor: pointer;
  color: white;
}

.icon span {
  margin-top: 5px;
  font-size: 12px;
}

#webamp-container {
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: 9999;
}
